### dev_notebook_

This is your development environment...you may start:
- Exploring your data.
- Testing the ad-hoc methods.
- Designing your pipeline.

In [132]:
import pandas as pd 
import requests as req
import json
import re

#%pip install shapely
#%pip install geopandas
from shapely.geometry import Point
import geopandas as gpd

#### **API Consulados&Embajadas**

In [133]:
#call the API of the EMT de Madrir
url = 'https://datos.madrid.es/egob'
veronica='/catalogo/201000-0-embajadas-consulados.json'
url=url + veronica

res = req.get(url)  
res

In [134]:
#json
data=res.json()
#data

In [135]:
data.keys()

dict_keys(['@context', '@graph'])

In [136]:
graph=data['@graph']

In [137]:
#function to find which embassies already have data from nearby bicimad stations
def find_element_with_word(lista, word):
    for element in lista:
        if word in element:
            return element
        else:
            pass
            
    return 'No tiene Bicimad'

In [138]:
#apply it to all rows
org=[]
tem_list=[]    
for dic in graph:
    listas=dic['organization']['organization-desc'].split('.  ') 
    tem_list.append(listas)
for lista in tem_list:
    e=find_element_with_word(lista,'Bicimad')
    org.append(e)
           
#org

In [139]:
#separate latitude and longitude
dp=pd.DataFrame(graph)
location = pd.DataFrame(pd.json_normalize(dp['location']))
location

      latitude  longitude
0    40.428216  -3.692666
1    40.453376  -3.680978
2    40.442447  -3.679665
3    40.425716  -3.688868
4    40.428626  -3.689004
..         ...        ...
152  40.457056  -3.690768
153  40.462675  -3.687881
154  40.472005  -3.770871
155  40.466107  -3.666833
156  40.436031  -3.687905

[157 rows x 2 columns]

In [140]:
#take the info from address
adress= pd.DataFrame(pd.json_normalize(dp['address']))
adress.head()

,locality,postal-code,street-address,district.@id,area.@id
0,MADRID,28010,CALLE FERNANDO EL SANTO 15 PLANTA BAJA,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...
1,MADRID,28016,CALLE TALAVERA 9,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...
2,MADRID,28002,CALLE AVIADOR LINDBERGH 3,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...
3,MADRID,28001,CALLE GOYA 5 y 7 pasaje,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...
4,MADRID,28046,PASEO CASTELLANA 18 PLANTA 6 Izquierda,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...

In [141]:
#concatenate the tables to decide which data we want to use
embajadas=pd.concat([dp, adress, location], axis=1).drop(columns=['id','@id','@type','relation','address', 'organization','district.@id','area.@id','location','locality','postal-code'])
embajadas['number']=org
embajadas['type_of_place']='Embajadas y Consulados'
embajadas.head()

,title,street-address,latitude,longitude,number,type_of_place
0,Consulado de Argentina,CALLE FERNANDO EL SANTO 15 PLANTA BAJA,40.428216,-3.692666,Bicimad: Estaciones 8 (plaza de Alonso Martíne...,Embajadas y Consulados
1,Consulado de Belice,CALLE TALAVERA 9,40.453376,-3.680978,"Bicimad: Estaciones 148 (calle Serrano, 210), ...",Embajadas y Consulados
2,Consulado de Bolivia,CALLE AVIADOR LINDBERGH 3,40.442447,-3.679665,"Bicimad: Estación 146 (calle María Francisca, 1).",Embajadas y Consulados
3,Consulado de Brasil,CALLE GOYA 5 y 7 pasaje,40.425716,-3.688868,"Bicimad: Estaciones 93 (calle Goya, 1) y 106 a...",Embajadas y Consulados
4,Consulado de Bélgica,PASEO CASTELLANA 18 PLANTA 6 Izquierda,40.428626,-3.689004,Bicimad: Estaciones 104 (paseo de la Castellan...,Embajadas y Consulados

In [142]:
#separate the stations near each embassy and return a list with just the numbers

celdas = []

for celda in embajadas['number']:

    if ') y ' in celda:
        celda=celda.replace(') y', '), ')   #unify the format to be able to separate the string 
    
    
    if 'a y b' in celda: #number of stations option
        ayb_list=[] 
         
        if 'Bicimad: Estaciones ' in celda:
            num = celda.split('Bicimad: Estaciones')[1].split('),')         
            for e in num:                                
                if 'a y b' in e:
                    nums=re.findall(r'\b(\d+)\s*a\s*y\s*b\b', e)
                    ayb_list.append(f'{nums[0]}a')
                    ayb_list.append(f'{nums[0]}b')
                else: 
                    ayb_list.append(re.findall('\s\d+\s', e)[0])
            celdas.append(ayb_list)
                
        elif 'Bicimad: Estación ' in celda:
            nums=re.findall('\s\d+\s', celda)
            celdas.append([f'{nums[0].strip()}a', f'{nums[0].strip()}b'])
        
    if 'a y b' not in celda:
        if 'Bicimad: Estaciones ' in celda:
            partes = re.findall('\s\d+\s', celda)
            celdas.append(partes)
        elif 'Bicimad: Estación ' in celda:
            parte = re.findall('\s\d+\s', celda)[0]
            celdas.append(parte)
        else:
            celdas.append('0') #where there is no data
#celdas

In [143]:
embajadas['number']=celdas

**API BONUS**

In [144]:
#connect to the EMT de madrid API to obtain my accessToken
url = 'https://openapi.emtmadrid.es/v1/mobilitylabs/user/login/'

headers = {
    'email': 'veronicagrim@hotmail.com',
    'password': 'Proyectodata14'
    }

response = req.request('GET', url, headers=headers)
response.json()

{'code': '01',
 'description': 'Token extend  into control-cache Data recovered  OK, (lapsed: 192 millsecs)',
 'datetime': '2024-03-11T18:38:41.384881',
 'data': [{'nameApp': 'OPENAPI MobilityLabs',
   'levelApp': 0,
   'updatedAt': '2024-03-05T18:29:05.2530000',
   'userName': 'veronicagrim@hotmail.com',
   'lastUpdate': {'$date': 1710173323605},
   'idUser': '2c4e1717-b9d6-4bcf-b026-38157bb8f83b',
   'priv': 'U',
   'tokenSecExpiration': 86399,
   'email': 'veronicagrim@hotmail.com',
   'tokenDteExpiration': {'$date': 1710263322605},
   'flagAdvise': True,
   'accessToken': 'f80fe3d1-a76b-452b-bc7e-21302f7228da',
   'apiCounter': {'current': 47,
    'dailyUse': 20000,
    'owner': 0,
    'licenceUse': 'Please mention EMT Madrid MobilityLabs as data source. Thank you and enjoy!',
    'aboutUses': 'If you need to extend the daily use of this API, please, register your App in Mobilitylabs and use your own X-ClientId and  passKey instead of generic login (more info in https://mobilitylabs.emtmadrid.es/doc/new-app and https://apidocs.emtmadrid.es/#api-Block_1_User_identity-login)'},
   'username': 'veronicagrim@hotmail.com'}]}

In [145]:
#get the accessToken
accessToken=response.json()['data'][0]['accessToken']

In [146]:
#connect to the EMT de madrid API to obtain data from all bicimad stations.
url='https://openapi.emtmadrid.es/v1/transport/bicimad/stations/'

headers = {
    'accessToken': accessToken,
    }

response = req.request("GET", url, headers=headers)
estaciones=response.json()

In [147]:
estaciones.keys()

dict_keys(['code', 'description', 'datetime', 'data'])

In [148]:
estaciones=estaciones['data']
estaciones_api=pd.DataFrame(estaciones)

In [149]:
#clean name and separate latitude and longitude
names=[f['name'].split('-')[1].strip() for f in estaciones]
coordenadas=[[f['geometry']['coordinates'] for f in estaciones]]
coordenadas

estaciones_api['name']=names
estaciones_api['geometry']=coordenadas[0]  
estaciones_api

,activate,address,dock_bikes,free_bases,geofenced_capacity,geometry,id,light,name,no_available,number,reservations_count,total_bases,virtualDelete
0,1,"Calle Miguel Moya nº 1,",10,17,20,"[-3.70569, 40.4204]",1406,2,Metro Callao,0,2,0,27,False
1,1,"Plaza Conde Surchill, 4 ,",4,15,20,"[-3.7072537, 40.4303223]",1407,0,Plaza Conde Suchil,0,3,0,19,False
2,1,"Calle Fuencarral nº 106,",23,3,20,"[-3.7021354, 40.4285212]",1409,1,Fuencarral,0,5,0,27,False
3,1,"Calle Hortaleza nº 63,",10,9,20,"[-3.698447, 40.424148]",1410,2,Colegio Arquitectos,0,6,0,19,False
4,1,"Calle Hortaleza nº 75,",19,0,20,"[-3.6977715, 40.4251906]",1411,1,Hortaleza,0,7,0,19,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,1,Avenida Menéndez pelayo (esquina con calle Poe...,26,1,20,"[-3.6784749, 40.4082717]",1477,1,Parque del Retiro,0,75,0,27,False
607,1,"Calle Joaquin Turina, 49,",8,19,20,"[-3.76182, 40.372458]",2145,0,"Joaquin Turina, 49",0,371,0,27,False
608,1,"Campuzano, 1,",8,15,20,"[-3.6423386, 40.4356873]",1965,2,Metro Pueblo Nuevo,0,482,0,23,False
609,1,"Calle de las Delicias, 41 ,",1,18,20,"[-3.69091831, 40.40381914]",2117,0,Delicias,0,273,0,19,False
610,1,"Calle Camilo José Cela, 27,",15,8,20,"[-3.66779, 40.4378]",1647,2,Camilo José Cela,0,241,0,23,False

In [150]:
estaciones_api=estaciones_api[['name', 'number', 'address','geometry','activate','no_available','total_bases','dock_bikes','free_bases']]
estaciones_api

,name,number,address,geometry,activate,no_available,total_bases,dock_bikes,free_bases
0,Metro Callao,2,"Calle Miguel Moya nº 1,","[-3.70569, 40.4204]",1,0,27,10,17
1,Plaza Conde Suchil,3,"Plaza Conde Surchill, 4 ,","[-3.7072537, 40.4303223]",1,0,19,4,15
2,Fuencarral,5,"Calle Fuencarral nº 106,","[-3.7021354, 40.4285212]",1,0,27,23,3
3,Colegio Arquitectos,6,"Calle Hortaleza nº 63,","[-3.698447, 40.424148]",1,0,19,10,9
4,Hortaleza,7,"Calle Hortaleza nº 75,","[-3.6977715, 40.4251906]",1,0,19,19,0
...,...,...,...,...,...,...,...,...,...
606,Parque del Retiro,75,Avenida Menéndez pelayo (esquina con calle Poe...,"[-3.6784749, 40.4082717]",1,0,27,26,1
607,"Joaquin Turina, 49",371,"Calle Joaquin Turina, 49,","[-3.76182, 40.372458]",1,0,27,8,19
608,Metro Pueblo Nuevo,482,"Campuzano, 1,","[-3.6423386, 40.4356873]",1,0,23,8,15
609,Delicias,273,"Calle de las Delicias, 41 ,","[-3.69091831, 40.40381914]",1,0,19,1,18
610,Camilo José Cela,241,"Calle Camilo José Cela, 27,","[-3.66779, 40.4378]",1,0,23,15,8

In [151]:
#separate latitude and longitude
def dividir_lista(row):
    return pd.Series(row['geometry'])
estaciones_api[['longitude', 'latitude']] = estaciones_api.apply(dividir_lista, axis=1)
estaciones_api=estaciones_api.drop(columns=['geometry'])

C:\Users\Veronica\AppData\Local\Temp\ipykernel_25604\2413765795.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  estaciones_api[['longitude', 'latitude']] = estaciones_api.apply(dividir_lista, axis=1)
C:\Users\Veronica\AppData\Local\Temp\ipykernel_25604\2413765795.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  estaciones_api[['longitude', 'latitude']] = estaciones_api.apply(dividir_lista, axis=1)

In [152]:
estaciones_api.head(11)

,name,number,address,activate,no_available,total_bases,dock_bikes,free_bases,longitude,latitude
0,Metro Callao,2,"Calle Miguel Moya nº 1,",1,0,27,10,17,-3.705690,40.420400
1,Plaza Conde Suchil,3,"Plaza Conde Surchill, 4 ,",1,0,19,4,15,-3.707254,40.430322
2,Fuencarral,5,"Calle Fuencarral nº 106,",1,0,27,23,3,-3.702135,40.428521
3,Colegio Arquitectos,6,"Calle Hortaleza nº 63,",1,0,19,10,9,-3.698447,40.424148
4,Hortaleza,7,"Calle Hortaleza nº 75,",1,0,19,19,0,-3.697771,40.425191
5,Metro Alonso Martínez,8,"Plaza de Alonso Martínez nº 6,",1,0,24,7,15,-3.695440,40.427868
6,Plaza de San Miguel,9,"Plaza de San Miguel nº 10,",1,0,24,8,16,-3.709508,40.415606
7,Marqués de la Ensenada,10,"Calle Marqués de la Ensenada (junto a edif, Ce...",1,0,23,16,7,-3.692104,40.425403
8,Plaza del Dos de Mayo,11,"Calle San Andrés nº 18 - 20,",1,0,23,4,19,-3.703600,40.427000
9,San Hermenegildo,12,"Calle San Bernardo nº 85 - 87,",1,0,27,8,19,-3.706141,40.428467
10,Conde Duque,13,"Calle Conde Duque nº 22,",1,0,23,16,7,-3.710500,40.427300

In [154]:
#function to measure the distance
def to_mercator(lat, long):
    # transform latitude/longitude data in degrees to pseudo-mercator coordinates in metres
    c = gpd.GeoSeries([Point(lat, long)], crs=4326)
    c = c.to_crs(3857)
    return c
def distance_meters(lat_start, long_start, lat_finish, long_finish):
    # return the distance in metres between to latitude/longitude pair points in degrees 
    # (e.g.: Start Point -> 40.4400607 / -3.6425358 End Point -> 40.4234825 / -3.6292625)
    start = to_mercator(lat_start, long_start)
    finish = to_mercator(lat_finish, long_finish)
    return start.distance(finish)

In [156]:
#
def closest_distances(embajadas, estaciones_api):
    
    distances = []
    for index, row in estaciones_api.iterrows():
        lat_finish = row['latitude']
        long_finish = row['longitude']
        
        distance = distance_meters(embajadas['latitude'] , embajadas['longitude'], lat_finish, long_finish)
        distances.append([row['number'],distance[0]])
       

    distances.sort(key=lambda x: x[1])

    #return ([station[0] for station in distances[:3]])
    return ([station[1] for station in distances[:3]])
    #return distances[:3]

In [157]:
estaciones_bicimad=[]
for index, row in embajadas.iterrows():
    estaciones_bicimad.append(closest_station(row, estaciones_api))
    
distance=[]
for index, row in embajadas.iterrows():
    distance.append(closest_distances(row, estaciones_api))

In [161]:
len(estaciones_bicimad)

157

In [162]:
distance

[[311.9001139109231, 319.3811255516, 380.0258425515077],
 [255.76551654772592, 312.6027620662095, 394.27088893706156],
 [220.77884425921926, 533.6066251773035, 558.6140486609512],
 [52.439373963638864, 141.64985143796721, 147.60749201069927],
 [216.3270282884061, 236.7967821117334, 321.2985998082369],
 [172.40063434707065, 523.9140628883374, 540.0406853334919],
 [257.18864309012383, 278.7003102221015, 301.54739270170205],
 [293.0259214512717, 307.66642504405394, 463.4864226407781],
 [266.5192373383566, 431.88223067626967, 584.8398661593218],
 [148.69877968455137, 372.6422286451238, 509.9351113407207],
 [282.9030513501236, 348.4052941514271, 474.40697535851194],
 [56.80763250489319, 277.9016033102922, 280.997593676709],
 [106.38951058709964, 230.0065043117107, 245.37217484577025],
 [253.8620770258948, 313.6596068959931, 429.59570995471825],
 [nan, nan, nan],
 [188.94848445324814, 245.73830310623472, 302.7756283193919],
 [129.44161209565095, 420.72699653801055, 430.603719084309],
 [369.12507526065804, 436.2497277206466, 464.878672955283],
 [158.975254896411, 379.54749644158176, 442.97600629814116],
 [348.51163280465124, 806.7695607686377, 905.9663100162649],
 [430.6920333857455, 632.2944523506827, 747.6859659670243],
 [300.2122091590098, 359.4403360470717, 517.0497889114821],
 [385.02999715654687, 397.87222391563, 582.527512227176],
 [128.00660427267073, 257.9828531263765, 353.2147545752956],
 [196.07823393572255, 453.8318337974496, 587.7706789234139],
 [1041.5754118405453, 1294.8376020995408, 2519.55613200981],
 [112.1352818912333, 257.3074568062569, 458.54169212626516],
 [283.8276384553429, 552.4859993249187, 895.9668415483848],
 [151.30619775352554, 264.0620461011669, 319.9461016902937],
 [412.3787706102655, 635.482762072442, 722.2017414024943],
 [99.05807819103084, 274.09826502007286, 385.1912125118917],
 [140.3330212608104, 302.5816208886872, 417.21950350393365],
 [201.9209686533174, 814.4986311792675, 952.4197045512883],
 [192.01204058085992, 254.84670613936228, 303.0931026950248],
 [297.5357080747452, 379.4253803361604, 458.0796780832062],
 [137.74166109376893, 165.09333659466822, 237.0085391624644],
 [190.7881023072186, 232.91469145764287, 293.93852864724016],
 [77.66040941752989, 250.0043899232993, 289.4604884658298],
 [409.05009078783206, 423.02104098390697, 435.92589412160777],
 [350.7728675693413, 384.68964826536745, 401.0347647223831],
 [312.1691817696861, 320.0876048665401, 380.1874815505054],
 [127.70365437936366, 306.9074898998076, 403.0967390802224],
 [196.07823393572255, 453.8318337974496, 587.7706789234139],
 [179.0279221551696, 305.9111251375552, 403.6908725402556],
 [138.85080177333364, 199.1778772721658, 272.034410166593],
 [281.7890012263312, 554.3801940252289, 791.6129118302237],
 [340.6524826920422, 515.0639372258679, 580.054026094519],
 [1419.3991090018203, 1481.387660219799, 1588.6733142653354],
 [150.26418837202053, 194.52985468387146, 318.31440498792955],
 [121.24016524055686, 270.43633786717777, 396.5230995770356],
 [106.45459727189407, 496.654067917979, 506.42722788629925],
 [216.3270282884061, 236.7967821117334, 321.2985998082369],
 [257.25871930353463, 270.5394833431384, 467.4407141365154],
 [101.36452266768006, 306.0288435695331, 360.15191412142843],
 [128.81892499620724, 357.4790822407703, 561.8631542255285],
 [191.50432176729782, 231.66096992163506, 294.6789921077585],
 [109.81418199000369, 469.1921311855016, 535.9959810885683],
 [45.984263482461465, 322.2327037505327, 417.1713005414782],
 [80.10459077462313, 296.341116954515, 353.7001907018021],
 [293.0259214512717, 307.66642504405394, 463.4864226407781],
 [122.26322881663164, 415.0146995899153, 590.1805520493858],
 [141.60890734509502, 247.05964690376206, 362.5629670538915],
 [266.5192373383566, 431.88223067626967, 584.8398661593218],
 [65.16931259521554, 81.96119396390394, 211.56528896547562],
 [169.53186759374069, 329.582445295559, 501.41339178385675],
 [57.0739200614407, 279.35090235987985, 324.6357544695731],
 [190.82765161851816, 323.1015279152304, 343.329611663295],
 [454.95855543514085, 463.5239363757584, 765.1797971155298],
 [232.99668492814928, 354.9779309371259, 469.22427242109507],
 [202.57496190151812, 350.84040848526314, 416.19650684798285],
 [186.1455800975724, 305.6342620247357, 379.8457888663395],
 [95.73130001630858, 242.63970301224336, 377.05740087419997],
 [143.97535625805844, 432.5743617726689, 596.0159002125881],
 [164.3180986539177, 278.9358228475325, 316.82685104839993],
 [190.19834713862363, 204.85518221020467, 312.466860926428],
 [209.97023161734108, 373.2736387580931, 422.76671273152715],
 [410.86087016512556, 498.8568377927495, 705.085457660341],
 [65.13977729346789, 282.0369456870254, 333.31861011349133],
 [439.3145779282617, 477.9070671289379, 787.4816293513674],
 [172.88640590771067, 385.1283586193439, 437.00809930666844],
 [169.6283179260453, 329.68451911287696, 501.47482629428714],
 [121.25944458483877, 289.80596411032855, 492.37290460670965],
 [394.9260703191574, 437.87072139322646, 441.6887987886446],
 [92.22190785001256, 280.8858395068371, 398.18410103503],
 [164.3180986539177, 278.9358228475325, 316.82685104839993],
 [202.0813162109103, 268.8927537010411, 419.8076626394882],
 [302.1682321427763, 382.50640554012807, 414.37237541132134],
 [258.43323259824183, 392.0660177519374, 599.035380143938],
 [339.8471787225979, 425.4047676831005, 670.5836291108523],
 [299.95476109654686, 364.86482291601874, 417.8419494926522],
 [525.7638663846836, 585.4435609088555, 665.0160659106683],
 [88.14307951032453, 215.32787841224155, 280.0655859551205],
 [412.7939803431084, 418.4435290083934, 468.05696666759553],
 [116.84699718255206, 277.647849564984, 300.6392365326132],
 [106.95028807869292, 382.1257385427518, 460.7399709567722],
 [271.1198778759234, 332.5751850004899, 361.80273997423205],
 [756.7877453330697, 839.9660361357309, 1068.5833683164117],
 [255.55841555357662, 411.63874170390153, 486.7130534790616],
 [1513.05235716275, 1550.8454262532794, 1630.0838419062463],
 [203.51815929616322, 219.69130501910598, 269.54944162736894],
 [79.6477359524583, 397.61309908146154, 609.6493761585954],
 [301.57465257893483, 460.6414915132663, 481.51097238851145],
 [141.60890734509502, 247.05964690376206, 362.5629670538915],
 [200.32450485556302, 227.6510609281143, 253.05018778131216],
 [141.42406933653038, 147.48053683054383, 364.3691185289041],
 [785.103538002341, 858.184032101089, 938.6976479183065],
 [246.13820893087043, 523.1179745782416, 524.7803188122257],
 [45.984263482461465, 322.2327037505327, 417.1713005414782],
 [256.21189313653275, 414.18323764220213, 516.8309991131637],
 [948.8938890145735, 1154.664266917363, 1307.9451386214178],
 [190.82765161851816, 323.1015279152304, 343.329611663295],
 [109.38619803945292, 264.9810560705061, 353.0339260450849],
 [332.21000528735766, 393.46964647810347, 475.50964987622666],
 [181.69839884520056, 255.97351453384613, 356.8231427152735],
 [116.67693220384993, 202.13092475812394, 236.76888198617928],
 [430.6920333857455, 632.2944523506827, 747.6859659670243],
 [373.15105561172584, 382.1221957128716, 391.4508728610693],
 [65.16931259521554, 81.96119396390394, 211.56528896547562],
 [229.3663212693613, 318.2028936654841, 434.7872343608072],
 [366.02478875466517, 493.67339271936294, 879.0097566217427],
 [228.79361650246173, 286.3283698635263, 338.0484730419636],
 [268.6263813680992, 299.754768157055, 441.4601665434913],
 [313.96023569315133, 388.74521682564585, 567.20506484353],
 [300.2122091590098, 359.4403360470717, 517.0497889114821],
 [116.26533596714995, 458.44782697768716, 467.36460851358896],
 [196.07823393572255, 453.8318337974496, 587.7706789234139],
 [226.95285671000605, 245.53278187610957, 407.0239487995958],
 [1256.3343723193318, 1277.7625945872242, 1366.490169201475],
 [190.7881023072186, 232.91469145764287, 293.93852864724016],
 [164.3180986539177, 278.9358228475325, 316.82685104839993],
 [196.07823393572255, 453.8318337974496, 587.7706789234139],
 [52.34488865615024, 375.38444079904934, 650.0083836945408],
 [101.84610467547655, 208.17076704427637, 208.30644391499814],
 [220.89103279391713, 398.2497080740416, 497.9321004320408],
 [274.4372245245777, 463.76518685785993, 555.2812304714649],
 [337.2568643151256, 352.77211934165587, 412.66971900923716],
 [273.51896553735, 515.6906441041584, 616.9717178758311],
 [256.0028273696254, 704.3571971001496, 740.9981553420707],
 [56.80763250489319, 277.9016033102922, 280.997593676709],
 [196.0839304424201, 235.62393938099032, 269.8500479303248],
 [95.73130001630858, 242.63970301224336, 377.05740087419997],
 [1552.9569964657842, 1606.8705466674758, 1697.2328004393023],
 [328.09365695112314, 373.36848123822165, 525.7612645043936],
 [112.87056280499782, 257.4686858991023, 390.1513960370187],
 [106.22436788876175, 472.2325064891861, 531.3865980115842],
 [172.40063434707065, 523.9140628883374, 540.0406853334919],
 [529.346547676602, 553.3079277341396, 767.6037040309704],
 [853.2709649857395, 957.809377981324, 1051.7423109750707],
 [171.49151159292558, 242.65778247288085, 307.62355743878385],
 [90.27310104920309, 310.6162239261536, 326.53539397721823],
 [137.17633349456935, 264.40527882824455, 327.1827026195346],
 [578.8241300929099, 643.1874016011069, 663.4340241563735],
 [257.091611175111, 276.42292998710707, 294.595829034543],
 [306.97030506392844, 348.8878957279567, 422.43671516163556],
 [2139.047946821202, 2433.233228986152, 2976.5184116640353],
 [280.9089076919025, 422.55395424252464, 537.1845967385565],
 [179.92491871047855, 291.88727030904255, 467.9671313889462]]

In [163]:
distances=[d for e in distance for d in e]
distances

[311.9001139109231,
 319.3811255516,
 380.0258425515077,
 255.76551654772592,
 312.6027620662095,
 394.27088893706156,
 220.77884425921926,
 533.6066251773035,
 558.6140486609512,
 52.439373963638864,
 141.64985143796721,
 147.60749201069927,
 216.3270282884061,
 236.7967821117334,
 321.2985998082369,
 172.40063434707065,
 523.9140628883374,
 540.0406853334919,
 257.18864309012383,
 278.7003102221015,
 301.54739270170205,
 293.0259214512717,
 307.66642504405394,
 463.4864226407781,
 266.5192373383566,
 431.88223067626967,
 584.8398661593218,
 148.69877968455137,
 372.6422286451238,
 509.9351113407207,
 282.9030513501236,
 348.4052941514271,
 474.40697535851194,
 56.80763250489319,
 277.9016033102922,
 280.997593676709,
 106.38951058709964,
 230.0065043117107,
 245.37217484577025,
 253.8620770258948,
 313.6596068959931,
 429.59570995471825,
 nan,
 nan,
 nan,
 188.94848445324814,
 245.73830310623472,
 302.7756283193919,
 129.44161209565095,
 420.72699653801055,
 430.603719084309,
 369.12507526065804,
 436.2497277206466,
 464.878672955283,
 158.975254896411,
 379.54749644158176,
 442.97600629814116,
 348.51163280465124,
 806.7695607686377,
 905.9663100162649,
 430.6920333857455,
 632.2944523506827,
 747.6859659670243,
 300.2122091590098,
 359.4403360470717,
 517.0497889114821,
 385.02999715654687,
 397.87222391563,
 582.527512227176,
 128.00660427267073,
 257.9828531263765,
 353.2147545752956,
 196.07823393572255,
 453.8318337974496,
 587.7706789234139,
 1041.5754118405453,
 1294.8376020995408,
 2519.55613200981,
 112.1352818912333,
 257.3074568062569,
 458.54169212626516,
 283.8276384553429,
 552.4859993249187,
 895.9668415483848,
 151.30619775352554,
 264.0620461011669,
 319.9461016902937,
 412.3787706102655,
 635.482762072442,
 722.2017414024943,
 99.05807819103084,
 274.09826502007286,
 385.1912125118917,
 140.3330212608104,
 302.5816208886872,
 417.21950350393365,
 201.9209686533174,
 814.4986311792675,
 952.4197045512883,
 192.01204058085992,
 254.84670613936228,
 303.0931026950248,
 297.5357080747452,
 379.4253803361604,
 458.0796780832062,
 137.74166109376893,
 165.09333659466822,
 237.0085391624644,
 190.7881023072186,
 232.91469145764287,
 293.93852864724016,
 77.66040941752989,
 250.0043899232993,
 289.4604884658298,
 409.05009078783206,
 423.02104098390697,
 435.92589412160777,
 350.7728675693413,
 384.68964826536745,
 401.0347647223831,
 312.1691817696861,
 320.0876048665401,
 380.1874815505054,
 127.70365437936366,
 306.9074898998076,
 403.0967390802224,
 196.07823393572255,
 453.8318337974496,
 587.7706789234139,
 179.0279221551696,
 305.9111251375552,
 403.6908725402556,
 138.85080177333364,
 199.1778772721658,
 272.034410166593,
 281.7890012263312,
 554.3801940252289,
 791.6129118302237,
 340.6524826920422,
 515.0639372258679,
 580.054026094519,
 1419.3991090018203,
 1481.387660219799,
 1588.6733142653354,
 150.26418837202053,
 194.52985468387146,
 318.31440498792955,
 121.24016524055686,
 270.43633786717777,
 396.5230995770356,
 106.45459727189407,
 496.654067917979,
 506.42722788629925,
 216.3270282884061,
 236.7967821117334,
 321.2985998082369,
 257.25871930353463,
 270.5394833431384,
 467.4407141365154,
 101.36452266768006,
 306.0288435695331,
 360.15191412142843,
 128.81892499620724,
 357.4790822407703,
 561.8631542255285,
 191.50432176729782,
 231.66096992163506,
 294.6789921077585,
 109.81418199000369,
 469.1921311855016,
 535.9959810885683,
 45.984263482461465,
 322.2327037505327,
 417.1713005414782,
 80.10459077462313,
 296.341116954515,
 353.7001907018021,
 293.0259214512717,
 307.66642504405394,
 463.4864226407781,
 122.26322881663164,
 415.0146995899153,
 590.1805520493858,
 141.60890734509502,
 247.05964690376206,
 362.5629670538915,
 266.5192373383566,
 431.88223067626967,
 584.8398661593218,
 65.16931259521554,
 81.96119396390394,
 211.56528896547562,
 169.53186759374069,
 329.582445295559,
 501.41339178385675,
 57.0739200614407,
 279.35090235987985,
 324.6357544695731,
 190.82765161851816,
 323.1015279152304,
 343.329611663295,
 454.95855543514085,
 463.5239363757584,
 765.1797971155298,
 232.99668492814928,
 354.9779309371259,
 469.22427242109507,
 202.57496190151812,
 350.84040848526314,
 416.19650684798285,
 186.1455800975724,
 305.6342620247357,
 379.8457888663395,
 95.73130001630858,
 242.63970301224336,
 377.05740087419997,
 143.97535625805844,
 432.5743617726689,
 596.0159002125881,
 164.3180986539177,
 278.9358228475325,
 316.82685104839993,
 190.19834713862363,
 204.85518221020467,
 312.466860926428,
 209.97023161734108,
 373.2736387580931,
 422.76671273152715,
 410.86087016512556,
 498.8568377927495,
 705.085457660341,
 65.13977729346789,
 282.0369456870254,
 333.31861011349133,
 439.3145779282617,
 477.9070671289379,
 787.4816293513674,
 172.88640590771067,
 385.1283586193439,
 437.00809930666844,
 169.6283179260453,
 329.68451911287696,
 501.47482629428714,
 121.25944458483877,
 289.80596411032855,
 492.37290460670965,
 394.9260703191574,
 437.87072139322646,
 441.6887987886446,
 92.22190785001256,
 280.8858395068371,
 398.18410103503,
 164.3180986539177,
 278.9358228475325,
 316.82685104839993,
 202.0813162109103,
 268.8927537010411,
 419.8076626394882,
 302.1682321427763,
 382.50640554012807,
 414.37237541132134,
 258.43323259824183,
 392.0660177519374,
 599.035380143938,
 339.8471787225979,
 425.4047676831005,
 670.5836291108523,
 299.95476109654686,
 364.86482291601874,
 417.8419494926522,
 525.7638663846836,
 585.4435609088555,
 665.0160659106683,
 88.14307951032453,
 215.32787841224155,
 280.0655859551205,
 412.7939803431084,
 418.4435290083934,
 468.05696666759553,
 116.84699718255206,
 277.647849564984,
 300.6392365326132,
 106.95028807869292,
 382.1257385427518,
 460.7399709567722,
 271.1198778759234,
 332.5751850004899,
 361.80273997423205,
 756.7877453330697,
 839.9660361357309,
 1068.5833683164117,
 255.55841555357662,
 411.63874170390153,
 486.7130534790616,
 1513.05235716275,
 1550.8454262532794,
 1630.0838419062463,
 203.51815929616322,
 219.69130501910598,
 269.54944162736894,
 79.6477359524583,
 397.61309908146154,
 609.6493761585954,
 301.57465257893483,
 460.6414915132663,
 481.51097238851145,
 141.60890734509502,
 247.05964690376206,
 362.5629670538915,
 200.32450485556302,
 227.6510609281143,
 253.05018778131216,
 141.42406933653038,
 147.48053683054383,
 364.3691185289041,
 785.103538002341,
 858.184032101089,
 938.6976479183065,
 246.13820893087043,
 523.1179745782416,
 524.7803188122257,
 45.984263482461465,
 322.2327037505327,
 417.1713005414782,
 256.21189313653275,
 414.18323764220213,
 516.8309991131637,
 948.8938890145735,
 1154.664266917363,
 1307.9451386214178,
 190.82765161851816,
 323.1015279152304,
 343.329611663295,
 109.38619803945292,
 264.9810560705061,
 353.0339260450849,
 332.21000528735766,
 393.46964647810347,
 475.50964987622666,
 181.69839884520056,
 255.97351453384613,
 356.8231427152735,
 116.67693220384993,
 202.13092475812394,
 236.76888198617928,
 430.6920333857455,
 632.2944523506827,
 747.6859659670243,
 373.15105561172584,
 382.1221957128716,
 391.4508728610693,
 65.16931259521554,
 81.96119396390394,
 211.56528896547562,
 229.3663212693613,
 318.2028936654841,
 434.7872343608072,
 366.02478875466517,
 493.67339271936294,
 879.0097566217427,
 228.79361650246173,
 286.3283698635263,
 338.0484730419636,
 268.6263813680992,
 299.754768157055,
 441.4601665434913,
 313.96023569315133,
 388.74521682564585,
 567.20506484353,
 300.2122091590098,
 359.4403360470717,
 517.0497889114821,
 116.26533596714995,
 458.44782697768716,
 467.36460851358896,
 196.07823393572255,
 453.8318337974496,
 587.7706789234139,
 226.95285671000605,
 245.53278187610957,
 407.0239487995958,
 1256.3343723193318,
 1277.7625945872242,
 1366.490169201475,
 190.7881023072186,
 232.91469145764287,
 293.93852864724016,
 164.3180986539177,
 278.9358228475325,
 316.82685104839993,
 196.07823393572255,
 453.8318337974496,
 587.7706789234139,
 52.34488865615024,
 375.38444079904934,
 650.0083836945408,
 101.84610467547655,
 208.17076704427637,
 208.30644391499814,
 220.89103279391713,
 398.2497080740416,
 497.9321004320408,
 274.4372245245777,
 463.76518685785993,
 555.2812304714649,
 337.2568643151256,
 352.77211934165587,
 412.66971900923716,
 273.51896553735,
 515.6906441041584,
 616.9717178758311,
 256.0028273696254,
 704.3571971001496,
 740.9981553420707,
 56.80763250489319,
 277.9016033102922,
 280.997593676709,
 196.0839304424201,
 235.62393938099032,
 269.8500479303248,
 95.73130001630858,
 242.63970301224336,
 377.05740087419997,
 1552.9569964657842,
 1606.8705466674758,
 1697.2328004393023,
 328.09365695112314,
 373.36848123822165,
 525.7612645043936,
 112.87056280499782,
 257.4686858991023,
 390.1513960370187,
 106.22436788876175,
 472.2325064891861,
 531.3865980115842,
 172.40063434707065,
 523.9140628883374,
 540.0406853334919,
 529.346547676602,
 553.3079277341396,
 767.6037040309704,
 853.2709649857395,
 957.809377981324,
 1051.7423109750707,
 171.49151159292558,
 242.65778247288085,
 307.62355743878385,
 90.27310104920309,
 310.6162239261536,
 326.53539397721823,
 137.17633349456935,
 264.40527882824455,
 327.1827026195346,
 578.8241300929099,
 643.1874016011069,
 663.4340241563735,
 257.091611175111,
 276.42292998710707,
 294.595829034543,
 306.97030506392844,
 348.8878957279567,
 422.43671516163556,
 2139.047946821202,
 2433.233228986152,
 2976.5184116640353,
 280.9089076919025,
 422.55395424252464,
 537.1845967385565,
 179.92491871047855,
 291.88727030904255,
 467.9671313889462]

In [164]:
embajadas['number']=estaciones_bicimad
embajadas=embajadas.explode('number')
embajadas['distance']=distances
embajadas

,title,street-address,latitude,longitude,number,type_of_place,distance
0,Consulado de Argentina,CALLE FERNANDO EL SANTO 15 PLANTA BAJA,40.428216,-3.692666,8,Embajadas y Consulados,311.900114
0,Consulado de Argentina,CALLE FERNANDO EL SANTO 15 PLANTA BAJA,40.428216,-3.692666,10,Embajadas y Consulados,319.381126
0,Consulado de Argentina,CALLE FERNANDO EL SANTO 15 PLANTA BAJA,40.428216,-3.692666,104,Embajadas y Consulados,380.025843
1,Consulado de Belice,CALLE TALAVERA 9,40.453376,-3.680978,148,Embajadas y Consulados,255.765517
1,Consulado de Belice,CALLE TALAVERA 9,40.453376,-3.680978,159,Embajadas y Consulados,312.602762
...,...,...,...,...,...,...,...
155,Embajada de la República de Corea,CALLE GONZALEZ AMIGO 15,40.466107,-3.666833,534,Embajadas y Consulados,422.553954
155,Embajada de la República de Corea,CALLE GONZALEZ AMIGO 15,40.466107,-3.666833,285,Embajadas y Consulados,537.184597
156,Embajada del Nepal,CALLE GENERAL ORAA 3 PLANTA bajo izquierda,40.436031,-3.687905,141,Embajadas y Consulados,179.924919
156,Embajada del Nepal,CALLE GENERAL ORAA 3 PLANTA bajo izquierda,40.436031,-3.687905,142,Embajadas y Consulados,291.887270
156,Embajada del Nepal,CALLE GENERAL ORAA 3 PLANTA bajo izquierda,40.436031,-3.687905,139,Embajadas y Consulados,467.967131

In [165]:
for i, row in embajadas.iterrows():
    if 'Consulado' in row['title']:
        embajadas.at[i, 'type_of_place'] = 'consulado'
    else:
        embajadas.at[i, 'type_of_place'] = 'embajada'
        
embajadas

,title,street-address,latitude,longitude,number,type_of_place,distance
0,Consulado de Argentina,CALLE FERNANDO EL SANTO 15 PLANTA BAJA,40.428216,-3.692666,8,consulado,311.900114
0,Consulado de Argentina,CALLE FERNANDO EL SANTO 15 PLANTA BAJA,40.428216,-3.692666,10,consulado,319.381126
0,Consulado de Argentina,CALLE FERNANDO EL SANTO 15 PLANTA BAJA,40.428216,-3.692666,104,consulado,380.025843
1,Consulado de Belice,CALLE TALAVERA 9,40.453376,-3.680978,148,consulado,255.765517
1,Consulado de Belice,CALLE TALAVERA 9,40.453376,-3.680978,159,consulado,312.602762
...,...,...,...,...,...,...,...
155,Embajada de la República de Corea,CALLE GONZALEZ AMIGO 15,40.466107,-3.666833,534,embajada,422.553954
155,Embajada de la República de Corea,CALLE GONZALEZ AMIGO 15,40.466107,-3.666833,285,embajada,537.184597
156,Embajada del Nepal,CALLE GENERAL ORAA 3 PLANTA bajo izquierda,40.436031,-3.687905,141,embajada,179.924919
156,Embajada del Nepal,CALLE GENERAL ORAA 3 PLANTA bajo izquierda,40.436031,-3.687905,142,embajada,291.887270
156,Embajada del Nepal,CALLE GENERAL ORAA 3 PLANTA bajo izquierda,40.436031,-3.687905,139,embajada,467.967131

In [166]:
embajadas.to_csv('../data/processed/embajadas.csv', index=False)

In [168]:
result = pd.merge(embajadas, estaciones_api, on='number', how='left')
result
#result.sort_values(by='title')

,title,street-address,latitude_x,longitude_x,number,type_of_place,distance,name,address,activate,no_available,total_bases,dock_bikes,free_bases,longitude_y,latitude_y
0,Consulado de Argentina,CALLE FERNANDO EL SANTO 15 PLANTA BAJA,40.428216,-3.692666,8,consulado,311.900114,Metro Alonso Martínez,"Plaza de Alonso Martínez nº 6,",1,0,24,7,15,-3.695440,40.427868
1,Consulado de Argentina,CALLE FERNANDO EL SANTO 15 PLANTA BAJA,40.428216,-3.692666,10,consulado,319.381126,Marqués de la Ensenada,"Calle Marqués de la Ensenada (junto a edif, Ce...",1,0,23,16,7,-3.692104,40.425403
2,Consulado de Argentina,CALLE FERNANDO EL SANTO 15 PLANTA BAJA,40.428216,-3.692666,104,consulado,380.025843,Castellana,"Paseo de la Castellana nº 4,",1,0,23,15,8,-3.689580,40.426770
3,Consulado de Belice,CALLE TALAVERA 9,40.453376,-3.680978,148,consulado,255.765517,Serrano 210,"Calle Serrano nº 210,",1,0,23,12,11,-3.681397,40.451117
4,Consulado de Belice,CALLE TALAVERA 9,40.453376,-3.680978,159,consulado,312.602762,Paseo de la Habana 63,"Paseo de la Habana nº 63,",1,0,23,3,20,-3.683593,40.454385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,Embajada de la República de Corea,CALLE GONZALEZ AMIGO 15,40.466107,-3.666833,534,embajada,422.553954,"Mesena, 102","Calle Mesena, 102 ,",1,0,24,10,14,-3.663406,40.467724
467,Embajada de la República de Corea,CALLE GONZALEZ AMIGO 15,40.466107,-3.666833,285,embajada,537.184597,Santa María Magdalena,"Calle Santa María Magdalena, 15 ,",1,0,23,0,23,-3.670600,40.463100
468,Embajada del Nepal,CALLE GENERAL ORAA 3 PLANTA bajo izquierda,40.436031,-3.687905,141,embajada,179.924919,Plaza de Emilio Castelar,"Paseo de la Castellana nº 43,",1,0,12,1,11,-3.689392,40.435405
469,Embajada del Nepal,CALLE GENERAL ORAA 3 PLANTA bajo izquierda,40.436031,-3.687905,142,embajada,291.887270,Bajo elevado de Eduardo Dato,"Paseo de la Castellana nº 42,",1,0,23,11,12,-3.687915,40.433409
470,Embajada del Nepal,CALLE GENERAL ORAA 3 PLANTA bajo izquierda,40.436031,-3.687905,139,embajada,467.967131,José Gutiérrez Abascal,"Calle Pedro de Valdivia, 2 ,",1,0,24,8,16,-3.690419,40.439396